[submodule "ip"]
	path = ip
	url = https://github.com/karkipy/whichIp

[submodule "hangman"]
	path = hangman
	url = https://github.com/karkipy/hangman
[submodule "game/2048"]
	path = game/2048
	url = https://github.com/karkipy/2048
